.MuiAppBar-colorPrimary{
    background-color: $color4;
    justify-content: center;
    div{
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        align-content: flex-end;
        h1{
            margin: 0;
            line-height: 1.8rem;
            font-weight: 100;
            font-size: 1.8rem;
        }
        p{
            text-transform: uppercase;
            font-size: .7rem;
            letter-spacing: 2px;
            margin: 0;
            padding: 0;
        }
    }
}