.MuiAppBar-colorPrimary{
    background-color: $color3;
    justify-content: center;
    border-bottom: 3px solid $color2;
    div{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        img{
            width: auto;
            height: 40px;
        }
        h1{
            margin: 0;
            line-height: 1.5rem;
            font-size: 1.5rem;
            color: $color1;
            padding: 0;
        }
        p{
            text-transform: uppercase;
            font-size: .7rem;
            letter-spacing: 2.3px;
            margin: 0;
            padding: 0;
            color: $color1;
        }
    }
  
}