.MuiAppBar-colorPrimary{
    background-color: $color3;
    justify-content: center;
    border-bottom: 3px solid $color2;
    div{
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        align-content: flex-end;
        h1{
            margin: 0;
            line-height: 1rem;
            font-size: 1.5rem;
            color: $color1;
        }
        p{
            text-transform: uppercase;
            font-size: .7rem;
            letter-spacing: 2.3px;
            margin: 0;
            padding: 0;
            color: $color1;
        }
    }
}