.ScanMapMain{
    width: 98%;
    margin: 0 auto;
    border-radius: $borderRadius;
    border:1px solid white;

    .MapColorKey{
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        width: 100%; 
        margin: 1rem 0;
        div{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            align-content: center;
            margin: 0 .5rem;
            span{
                width: 20px;
                height: 20px;
                border-radius: 100px;
                margin-bottom: 10px
            }
            h2{
                font-size: 1rem;
                letter-spacing: 1px;
            }
        }
    }
    .ListBasicResults{
        display: flex;
        flex-direction: column;
        width: 100%;
        li{
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: center;
            align-items: center;
            align-content: center;

            div{
                width: 33%;
            }
        }
    }
}