
.BtnWrapper{
    border:1px solid $color5;
    border-radius: $borderRadius;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.SelectClientBtn{
    background-color: $color5;
    color: $color1;
}
.SelectClientBtn:hover{
    background-color: $color2;
    color: $color5;
}

.CreateModelMeta{
    background-color: $color5;
    color: $color1;
}

.CreateModelMeta:hover{
    background-color: $color2;
    color: $color5;
}

.CreateModel-Back{
    background-color: $color2;
    color: $color5;
}

.CreateModel-Back:hover{
    background-color: $color1;
    color: $color2;
}

.CreateModel{
    background-color: $color1;
    color: $color2;
}
.CreateModel:hover{
    background-color: $color5;
    color: $color2;
}

.CompareModels{
    background-color: $color2;
    color: $color1;
}

.CompareModels:hover{
    background-color: $color1;
    color: $color2;
}

.ResetModelComparison{
    background-color: $color2;
    color: $color5;
}
.ResetModelComparison:hover{
    background-color: $color5;
    color: $color1;
}