.PleaseSelectOption{
    border:1px solid $color2;
    background-color: $color1;
    border-radius: $borderRadius;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    align-content: center;
    justify-content: space-evenly;

    svg{
        fill: $color2;
        width: 5rem;
        height: 5rem;
    }
}