.AuthNavigation{
    padding-top: 2rem;
    
        a{
            text-decoration: none;
            div{
                min-width: auto;
                svg, span{
                    fill: $color4;
                    color:  $color4;
                    
                  
                }
            }
        
        } 
       
        a.selected{
            text-decoration: none;
            div{
                svg, span{
                    fill: $color2;
                    color:  $color2;
                    
                  
                }
            }
        
        }
    
}