.AuthNavigation{
    padding-top: 2rem;
    
        a{
            div{
                svg, span{
                    fill: $color4;
                    color:  $color4;
                  
                }
            }
        
        }
    
   
}