.ChartHeader{
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-end;
        align-content: center;
        justify-content: space-between;
        margin: 0rem 0 .5rem 0 ;
        .InfoIcons{
            display: flex;
            flex-direction: column-reverse;
            justify-content: flex-end;
            padding: 0 0rem 0px 1rem;

            .help{ color:$colorLink;}
            .warning{ color: $colorFalse;}
            .interactive{ color: $colorTrue;}
        }

        .Content{
            display: flex;
            flex-direction: row;
            h4{
                border-bottom: 1px solid;
                margin-bottom: .5rem;
                padding-bottom: .2rem;
            }
            p{
                font-size: .9rem;
            }
            svg{
                width: 2rem;
                height: 2rem;
                margin: 0 1rem 0 0rem;
                fill:$color2;
            }
        }
}