

// Section
.Section{
    padding: 1rem 0 4rem;
    //border-bottom: 1px solid $color4;
    margin: 0 0 1rem 0;
}
.Section.SelectedItem{
    margin: 0 4rem;
    padding: 3rem;
    background-color: $color4;
    border-radius: $borderRadius;

    h2{
        color: $color3;
    }
    h3{
        color: $color1;
    }
    .DiagramContainer{
        margin: 0 0 3rem ;
    }
}

.DiagramContainer{
    border: 1px solid  $color1;
    margin: 2rem 0;
    border-radius: $borderRadius;
    padding: 1rem;
    background-color: $color1;

    .resultCharts{
        >div{
           // border: 1px solid;
            padding: 0 1rem;
        }
    }

    .SectionChart{
        display: flex;
        flex-direction: column;

        .Options{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            //border-bottom: 1px solid $color4;
            padding: .5rem 0;
            margin: 0 0 2rem 0;
            background-color: $color3;
            border-radius: $borderRadius;

             // select options
                div.Map_Filters{
                    label, div, fieldset{ color: $color1; border-color: $color1;}
                    svg{ fill:$color1}
                width: 98%;
                margin: .4rem 1%;
                color: $color1 !important;
                }
        }
    }
    .SelectAChart{
        display: flex;
        margin: 0;
        padding: 0;

        li.selected{
            svg{
                fill: $color2;
            }
            h3{
                color:$color2;
            }
        }
        li{
            display: flex;
            flex-direction: column;
            align-items: center;
            align-content: center;
            justify-content: center;
            cursor: pointer;
            margin: 0 10px;
            width: 50px;
            svg{
                fill: $colorWhite;
                width: 25px;
                height: 25px;
            }
            h3{
                font-size: .65rem;
                text-align: center;
                line-height: .8rem;
                letter-spacing: 0;
                color:$colorWhite;
            }
        }
    }
}