.ColorPalette{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    align-self: center;

        li{
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;
            align-content: center;
            align-self: center;

            span{
                width: 40px;
                height: 40px;
                border:1px solid $color1;
                border-radius: $borderRadius;
            }

            span.color1{ background-color: $color1; }
            span.color2{ background-color: $color2;}
            span.color3{ background-color: $color3;}
            span.color4{ background-color: $color4;}
            span.color5{ background-color: $color5;}

            span.true{ background-color: $colorTrue;}
            span.false{ background-color: $colorFalse;}
            span.Link{ background-color: $colorLink;}
        }
}