//@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@200;400;600;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&family=Roboto:wght@500;700;900&display=swap');


// colors
// Intact Color

$color1:#e6e6e6;
$color2:#ffc200;
$color3:#2f2f2f;
$color4:#656565;
$color5:#a7a9ac; 


/*
//2ABC65
$color1:#e6e6e6;
$color2:#89b2c3;
$color3:#232323;
$color4:#656565;
$color5:#a7a9ac; 
*/

$colorWhite:#ffffff;
$colorTrue:#00d432;
$colorFalse:#e67474;
$colorLink:#3482ef;


$borderRadius:5px; 