//@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@200;400;600;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&family=Roboto:wght@500;700;900&display=swap');


// colors
// Intact Color

$color1:#e6e6e6;
$color2:#89b2c3;
$color3:#464646;
$color4:#5d5d5d;
$color5:#ea9a40;



/*
//2ABC65
$color1:#e6e6e6;
$color2:#89b2c3;
$color3:#232323;
$color4:#656565;
$color5:#a7a9ac; 
*/

$colorWhite:#ffffff;
$colorTrue:#5ee27d;
$colorFalse:#e67474;
$colorLink:#87b7fb; 


$borderRadius:5px; 