@import"./Template/index";
@import "./LoadingScreen/index";

.Public{    
    width: 100vw;
    @import "./Template/PublicNav";
    @import "./LoadingScreen/index";

    .InnerFrame{
        padding: 2rem;
        text-align: center;
        
    }
}
